<div class="say-hello">
  <div class="say-hello-img">
    <img
      class="finny-bot"
      ngSrc="https://i.ibb.co/Kmkqb9S/4768412c-6411-4bd5-97ee-1d3347ca7db6-removebg-preview.jpg"
      alt="FinnyBot"
      height="500"
      width="500"
    />
  </div>

  <div class="say-hello-text">
#

#
  </div>
</div>

<section class="conversations">
  @for (response of responses(); track response.text) {

    <div class="conversations-message"
          [ngClass]="response.type === 'RESPONSE' ? 'conversations-response' : 'conversations-prompt'">
      @if(response.type === 'RESPONSE') {
        <span
          class="chatbot-emoji">
          📦
      </span>
      }
      <markdown class="markdown" [data]="response.text"></markdown>
    </div>
  } @empty {
    <p>No hay mensajes.</p>
  }

@if(status === 'PROCESSING') {
    <p class="loader"></p>
}
</section>


<section class="prompt-area">
    <!-- Sugerencias de Preguntas -->
    <div class="suggestions">
      <div class="suggestion" (click)="fillPrompt('Buenos días')">Buenos días</div>
      <div class="suggestion" (click)="fillPrompt('Dame información general de la empresa')">Dame información general de la empresa</div>
      <div class="suggestion" (click)="fillPrompt('Mencioname procesos activos')">Mencioname procesos activos</div>
    </div>
  
<form class="prompt-form" (ngSubmit)="sendMessage($event)">
  <input class="prompt-input" type="text" placeholder="¿Cuáles son los procesos internos en ProcessOptima?" [formControl]="promptText">
  <button class="btn">✉ Enviar</button>
 
 
  
</form>
</section>
