.say-hello {
  display: grid;
}
.say-hello-text {
  grid-column: 2;
}
.say-hello-img {
  grid-column: 1;
  display: flex;
}
.say-hello-img img {
  align-self: center;
}
.finny-bot {
  width: 20%;
  height: auto;
}

.conversations {
  padding-bottom: 110px;
}
.conversations-message {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  max-width: 70%;
  
  margin-bottom: 10px;
  font-size: 1.2em;
}
.conversations-prompt {
  margin-left: auto;
   /* === COLOR FONDO Y DEL TEXTO DEL USUARIO === */
  background: #153f65;
  color: #ffffff;
  border-radius: 40px 0px 40px 40px;
}
.conversations-response {
     /* === COLOR FONDO Y DEL TEXTO DEL CHAT === */
  color: #030303;
  background: #bfdefa;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 0px 40px 40px 40px;
}

.prompt-area {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.prompt-form {
  display: flex;
  flex-flow: row nowrap;
     /* === COLOR DE LA BARRA DEL PROM === */
  background: #153f65;
}
.prompt-input {
  flex-grow: 9;
  margin-right: 20px;
  padding: 20px;
  border: none;
  background: transparent !important;
  color: #ffffff; /* Cambia este valor al color que desees */
  
}
.prompt-input::placeholder {

  color: #aaa9a9; /* Cambia este valor al color que desees */
  
}
.prompt-input:focus-visible {
  border-color: #ffffff;
}
.prompt-send-button {
  flex-grow: 0;
  flex-shrink: 0;
  height: 62px;
  width: 62px;
  background: #002fff;
  font-size: 1.4em;
  outline: transparent;
  border-color: transparent;
  border-radius: 30px;
  padding: 0;
  color: rgb(255, 240, 199);
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  /* === COLOR DE LA CARGA === */
  background: radial-gradient(circle closest-side, #2f82ff 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.chatbot-emoji {
  align-self: self-start;
  margin-top: 16px;
  margin-right: 8px;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 0;
}

.suggestions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.suggestion {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  background-color: #bfdefa;
  border: 0.5px solid #153f65;
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 0px #000;
}

.suggestion:hover {
  background-color: #153f65;
  color: #ffffff;
}


.suggestion:hover {
  background-color: #fff;
  color: #153f65;
  border: 0.5px solid #153f65;
  box-shadow: 5px 5px 0px #153f65;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  margin: 10px;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  /* === color boton=== */
  background-color: rgb(3, 16, 34);
  /* === texto del boton === */
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  /* === AURA DE LOS RECUADFROS DE IMAGENES === */
 
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(17, 0, 250);
   /* === 2 y 1 primer color del degradado=== */
  background: linear-gradient(270deg, rgba(20, 41, 82, 0.681) 0%, #11283a 60%);
  color: rgb(255, 255, 255);
}

.nacano-button {
  background-color: #153f65; /* Rosa brillante */
  color: #fff; /* Blanco */
  font-size: 1.2em; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  height: 50px;  
  padding: 10px 20px; /* Espaciado interno */
  border: 2px solid #153f65; /* Borde rosa oscuro */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: all 0.3s ease; /* Transición suave */
  cursor: pointer; /* Cursor de puntero */
}

.nacano-button:hover {
  background-color: #164d7c; /* Cambio de color al pasar el mouse */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Mayor sombra al pasar el mouse */
  transform: scale(1.05); /* Escalado al pasar el mouse */
}

.nacano-button:active {
  background-color: #170264; /* Cambio de color al hacer clic */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Menor sombra al hacer clic */
  transform: scale(0.98); /* Reducción de tamaño al hacer clic */
}

.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}