.say-hello {
  display: grid;
}
.say-hello-text {
  grid-column: 2;
}
.say-hello-img {
  grid-column: 1;
  display: flex;
}
.say-hello-img img {
  align-self: center;
}
.finny-bot {
  width: 10%;
  height: auto;
}

.conversations {
  padding-bottom: 62px;
}
.conversations-message {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  max-width: 70%;
  border-radius: 40px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.conversations-prompt {

  margin-left: auto;
   /* === COLOR FONDO Y DEL TEXTO DEL USUARIO === */
  background: #153f65;
  color: #ffffff;
}
.conversations-response {
     /* === COLOR FONDO Y DEL TEXTO DEL CHAT === */
  color: #030303;
  background: #bfdefa;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.prompt-area {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.prompt-form {
  display: flex;
  flex-flow: row nowrap;
     /* === COLOR DE LA BARRA DEL PROM === */
  background: #153f65;
}
.prompt-input {
  flex-grow: 9;
  margin-right: 20px;
  padding: 20px;
  border: none;
  background: transparent !important;
  color: #ffffff; /* Cambia este valor al color que desees */
  
}
.prompt-input::placeholder {

  color: #aaa9a9; /* Cambia este valor al color que desees */
  
}
.prompt-input:focus-visible {
  border-color: #ffffff;
}
.prompt-send-button {
  flex-grow: 0;
  flex-shrink: 0;
  height: 62px;
  width: 62px;
  background: #002fff;
  font-size: 1.4em;
  outline: transparent;
  border-color: transparent;
  border-radius: 30px;
  padding: 0;
  color: rgb(255, 240, 199);
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  /* === COLOR DE LA CARGA === */
  background: radial-gradient(circle closest-side, #2f82ff 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.chatbot-emoji {
  align-self: self-start;
  margin-top: 16px;
  margin-right: 8px;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 0;
}

.suggestions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.suggestion {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  background-color: #bfdefa;
  border: 0.5px solid #153f65;
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 0px #000;
}

.suggestion:hover {
  background-color: #153f65;
  color: #ffffff;
}


.suggestion:hover {
  background-color: #fff;
  color: #153f65;
  border: 0.5px solid #153f65;
  box-shadow: 5px 5px 0px #153f65;
}

.suggestion:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}