<div class="say-hello">
  <div class="say-hello-img">
    <img
      class="finny-bot"
      ngSrc="https://radcolombia.org/web/sites/default/files/archivos/instituciones/universidad-norte/logo-uninorte.png"
      alt="FinnyBot"
      height="500"
      width="500"
    />
  </div>

  <div class="say-hello-text">
#
#
#
  </div>
</div>

<section class="conversations">
  @for (response of responses(); track response.text) {

    <div class="conversations-message"
          [ngClass]="response.type === 'RESPONSE' ? 'conversations-response' : 'conversations-prompt'">
      @if(response.type === 'RESPONSE') {
        <span
          class="chatbot-emoji">
          🏭
      </span>
      }
      <markdown class="markdown" [data]="response.text"></markdown>
    </div>
  } @empty {
    <p>No hay mensajes.</p>
  }

@if(status === 'PROCESSING') {
    <p class="loader"></p>
}
</section>


<section class="prompt-area">
<form class="prompt-form" (ngSubmit)="sendMessage($event)">
  <input class="prompt-input" type="text" placeholder="cuales son los estados financieros de la empresa ////////////////////" [formControl]="promptText">
  <button [disabled]="promptText.value === ''" class="prompt-send-button">▶</button>
</form>
</section>
