/* Add application styles & imports to this file! */
* {
  font-family: 'VT323', monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  /* === COLOR FONDO === */
  background: #edf4fe;
}

h1,
h2 {
   /* === COLOR LETRAS DEL LOS TITULOS DE LA INTERFAZ DE BIENVENIDA=== */
  color: #c1e3ff;
  font-size: 3em;
}
body,
input {
   /* === COLOR TEXTO/PARRAFOS DE LA INTEFAZ BIENVENIDA === */
  font-size: 12px;
  color: #fff;
}
p,
input {
  font-size: 1.2em;
}

.primary-button {
   /* === COLOR DE EL BOTON PARA INICIAR  EL CHAT === */
  background: #7d9bff;
  font-size: 2em;
  outline: transparent;
  border-color: transparent;
  border-radius: 20px;
  padding: 6px;
  color: white;
}

.prompt-send-button {
  background: #95c9f3 ;
  font-size: 1.4em;
  outline: transparent;
  border-color: transparent;
  border-radius: 20px;
  padding: 0;
  color: white;
  width: 40px;
  height: 40px;
}

input {
  padding: 8px;
  outline: none;
  border: none;
}
